.item-card {
  border: 1px solid #ccc;
  padding: 10px;
  width: 230px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.badge-area {
  height: 35px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.best-price {
  background-color: red;
  color: white;
  padding: 3px 5px;
  border-radius: 5px;
  text-align: center;
}
.discount-green {
  background-color: #e8ffe8;
  transition: 0.3s;
}

.item-image {
  height: 160px;
  object-fit: contain;
  width: 100%;
}
.details-btn {
  display: block;
  text-align: center;
  padding: 8px;
  background: #007bff;
  color: white;
  text-decoration: none;
  margin-top: 10px;
  border-radius: 5px;
}

.details-btn:hover {
  background: #0056b3;
}